*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #D5E68D;
    color: #6B0504;
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
}

::selection {
    background-color: #6B0504;
    color: #D5E68D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gruppo', cursive;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #A3320B;
    font-weight: bold;
    border-bottom: 2px solid #A3320B;
}

.display {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.description {
    margin: 0;
    text-align: center;
}

.main {
    margin-top: 1em;
}

.gutter {
    padding: 0 1em;
}

.btn-container {
    text-align: center;
}

.trigger-btn {
    margin-bottom: 0.5em;
    cursor: pointer;
    padding: 0.4em;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 0;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    transition: transform 250ms ease-in-out;
}

.trigger-btn:hover {
    transform: scale(0.97);
}

.green {
    background-color: #4EB687;
}
.red {
    background-color: #CC7452;
}
.yellow{
    background-color: #D9DD61;
}   
.blue{
    background-color: #6A7ED3;
}
.pink {
    background-color: #CF7FDF;
}


.trigger-btn:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 960px) {
    body {
        font-size: 26px;
    }
    .main-header,
    .main {
        width: 60%;
        margin: 1em auto;
    }
    .gutter {
        padding: 0;
    }
    .display {
        margin-bottom: 0.5em;
    }
    .trigger-btn {
        margin: 0;
    }
}