@charset "UTF-8";
/* FONT ICONS */
@font-face {
  font-family: "tiny-alert";
  src:url("fonts/tiny-alert.eot");
  src:url("fonts/tiny-alert.eot?#iefix") format("embedded-opentype"),
    url("fonts/tiny-alert.woff") format("woff"),
    url("fonts/tiny-alert.ttf") format("truetype"),
    url("fonts/tiny-alert.svg#tiny-alert") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tiny-alert" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ta-"]:before,
[class*=" ta-"]:before {
  font-family: "tiny-alert" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ta-close-round:before {
  content: "\61";
}
.ta-alert-circled:before {
  content: "\62";
}
.ta-alert-triangle:before {
  content: "\63";
}
.ta-alert:before {
  content: "\64";
}
.ta-exclamation-circle:before {
  content: "\65";
}
.ta-success-circled:before {
  content: "\66";
}
.ta-success-outline:before {
  content: "\67";
}
.ta-success-circle:before {
  content: "\68";
}
.ta-heart:before {
  content: "\69";
}
.ta-thumbs-up:before {
  content: "\6a";
}
.ta-happy-outline:before {
  content: "\6b";
}
.ta-close-outline:before {
  content: "\6c";
}

:root {
    /*Add some variables to your :root*/
    --duration-of-transition: 250ms;
    --drimmer-alpha: 0.6;
    --alert-radius: 8px;
}

.tinyalert-dimmer {
    width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, var(--drimmer-alpha));
    display: none;
    z-index: 2000; /*  we make sure that dimmer is above every element. */
}
.show-dimmer {
    display: block;
}

.tinyalert {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    display: none;
    opacity: 0;
    transform: translateY(-400px);
    position: fixed;
    z-index: 2500;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all var(--duration-of-transition) ease-in-out;

}

.tinyalert-header,
.tinyalert-body,
.tinyalert-footer {
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.tinyalert-header {
}
.tinyalert-heading {
    font-weight: bolder;
    margin: 0;
}

.tinyalert-guts {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.tinyalert-body {
    
}

.tinyalert-footer {
    border-bottom: none;
}


.tinyalert-close {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tinyalert-full-height {
    top: 0;
    height: 100%;
    overflow-y: auto;
}

.show-alert {
    display: block;
}

.animate-alert {
    opacity: 1;
    transform: translateY(0);
}

/* ICONS */
.ta-icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ta-icon-large {
    font-size: 5em;
}
.align-center {
    text-align: center;
}

/* COLORS */
.ta-success {
    color: #4EB687;
}
.ta-danger {
    color: #CC7452;
}
/* Media queries */

@media screen and (min-width: 960px) {
    .tinyalert {
        width: 75%;
        top: 10%;
        border-radius: var(--alert-radius);
    }
    .tinyalert-full-height {
        /* Remove the border radius when full height so it looks much better */
        border-radius: 0;
        top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .tinyalert {
        width: 40%;
    }
}